/* Header.css */
.movie-container {
  padding: 4rem;
  }
  
  /* .trending-container {
    margin-top: 20px;
    position: relative;
  } */

  .my-list{
    padding: 5rem;
  }
  

  /* puts cards in a row with side scroll*/
  .trending-card-container {
    display: flex; /* Display cards in a row */
    /* overflow-x: scroll; */
    gap: 10px; /* Add spacing between cards */
    flex-wrap: nowrap; /* Prevent cards from wrapping to the next row */
    align-items: flex-start; /* Align cards to the top of the container */
    /* overflow-y:visible;  */
    /* z-index:-1; */
    /* height: 500px; */
  }

  /* gives a hover and transition effect to cards */
 .card {
    transition: all 0.3s;
    cursor: pointer;
    position: relative; 
    z-index: 1; 
  } 
  .card:hover {
    transform: scale(1.2) translateY(20px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 2; 
  } 

  .title-spacing {
    margin-top: 3rem;
  }

  .text-light{
    color: white;
  }
  /* Add styles for TrendingCard component here */

  .like-button{
    background-color: rgba(25, 25, 25, 0);
    border: none;
    color: white;
    cursor: pointer;
  }

  .like-button:hover{
    color:  rgb(240, 212, 28);

  }
  
  .add-button{
    background-color: rgba(25, 25, 25, 0);
    padding-right : 2rem;
    border: none;
    color: white;
    cursor: pointer;
  }
  .add-button:hover{
    color:  hsl(52, 88%, 53%);

  }
  .play-button{
    background-color: rgba(25, 25, 25, 0);
    padding-right : 2rem;
    padding-top: 1rem;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  .play-button:hover{
    color:  rgb(240, 212, 28);

  }

  .card-wrapper{
    position: relative;
    /* height: 600px; */
    /* z-index: 1; */
  }

  .card-overlay {
    position: absolute;
    top: -35;
    left: -140;
    height: 400px;
    width: 400px;
    background-color: rgba(37, 36, 36, 0.941);
    box-shadow:  20px 20px 20px 20px rgba(1, 1, 1, 0.173);
    color: white;
    opacity: 0; /* Initially hide the overlay */
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(20px); /* Initial translation */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index:1;
    cursor: pointer;

  }
  
  .trending-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0); /* Show overlay on hover */
  }

  .card-image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio */
    display: flex;
  
  }
  
  .card-buttons {
    /* Adjust spacing and styling as needed */
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2rem;
  }

  

